# {{ app_name }}

Template Rails + React application built from https://github.com/cerico/finisterre

Deploys to https://{{ url }}

## Whats included

- Ruby on Rails + React starter application

## How to run


```
make webpack
make rails
```

Application visible at http://localhost:3071

```
make storybook
```

Storybook visible at http://localhost:9560
